/**
 *  Basic setup. 
 *  
 *  We are assuming an iframe, obviously.
 *  Otherwise we would never touch these tags.
 *
 */



  body {
    margin       : 0;
    padding      : 0;
  	background   : rgb(230, 250, 250);
  	color        : #4e4e4e;
  	line-height  : 1.5;
  	font-family  : Abel, sans-serif;
    font-weight  : 700;
  	font-size    : 14px;
  }


  #debug {
    position  : absolute;
    top       : 300px;
    width     : 800px;
  }


  .code {
    font-family : monospace;
    font-weight : 700;
    font-size   : 12px;
    color       : #f8f8f2;
  }


/* monokai, obviously */
  .code.comment  { color: #75715e; }
  .code.keyword  { color: #f92672; }
  .code.default  { color: #f8f8f2; }
  .code.reserved { color: #66D9EF; }
  .code.number   { color: #AE81FF; }
  .code.string   { color: #e6db74; }



  /* The ugly */

  .hwaccel {  
    /* Supposedly this forces activation of HW-acceleration on iOS Safari */
    -webkit-transform: translateZ(0); 
  }


  @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dppx) { 
      /* Retina-specific stuff here */
  }



  /**
   *  Our classes
   *
   */


  .parallax_layer {
    
    /*  Group all the parallax layers with this class */
    -webkit-user-select  : none;
       -moz-user-select  : none;
            user-select  : none;
    pointer-events       : none;
  }


/*  Is this actually used anywhere? 

  .para {
    position : relative;
    width    : 280px;
    padding  : 10px;
  }

 */


  .container {
    position          : absolute;
    left              : 0px; 
    right             : 0px; 
    margin            : 0px auto 0px auto; 
    padding           : 0px;
    top               : 0px;
    width             : 468px;
    height            : 300px;
    background        : transparent;
    overflow          : hidden;
    cursor            : auto;
  }


  .panel {
    float            : left;
    margin           : 0px;
    padding          : 0px;
    width            : 12000px;
    background       : transparent;
  }


  /**
   *  Layout styles
   * 
   */

  .stretchfill {
    width   : 100%;
    height  : 100%;
  }



  /**
   *  Text styles
   *
   */

  .center {
    text-align    : center;
    margin-right  : auto;
    margin-left   : auto;
  }

  .air_above {
    margin-top: 16px;
  }


  .verybig {
    /* same as "big", in the mobile version */
    text-align  : center;
    font-size   : 34px;
    line-height : 32px;
  }


  .big {
    text-align  : center;
    font-size   : 34px;
    line-height : 30px;
  }

  .gray {
    color: #4e4e4e;
  }


  .red {
    color: #d42;
  }


  .blue {
    color: #014289;
  }


  .medium {
    font-size   : 24px;
    line-height : 28px;
  }

  .bold {
    font-weight: 700;
  }

  .regular {
    font-weight: 400;
  }

  .horizontal {
    position  : relative;
    padding   : 0;
    margin    : 0;
    float     : left;
    display   : inline-block;
    overflow  : hidden;
    top       : 120px;
    width     : 665px;
  }


/**
 *  Parallax layers
 *
 */

  #parallax {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
  	position             : absolute;
    height               : 300px;
    width                : 12000px;
  	cursor               : move;
    z-index              : 500;
  }

  #layer1 {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
  	position             : absolute;
    height               : 300px;
    background           : transparent url('../img/sky_bg.png') repeat-x;
    background-position  : 0px -180px;
    pointer-events       : none;
    z-index              : 1;
  }

  #layer2 {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
         user-select     : none;

    pointer-events       : none;
    position             : absolute;
    height               : 300px;
    z-index              : 2;
  }

  .layer2 {
    background-image     : url('../img/hill_middle_layer2.png'), url('../img/airplane.png');
    background-repeat    : repeat-x, no-repeat; 
    background-origin    : content-box;
    background-position  : 0px 140px, 500px 64px;
  }


  #layer3 {
    -webkit-user-select  : none;
    -moz-user-select     : none;
    pointer-events       : none;
    position             : absolute;
    height               : 300px;
    z-index              : 3;

  }


  .layer3 {
    background-image     : 
                            url('../img/hill_middle_layer1_top1.png'), 
                            url('../img/hill_middle_layer1_top2.png'),
                            url('../img/hill_middle_layer1_top4.png'), 
                            url('../img/hill_middle_layer1_top5.png'),
                            url('../img/hill_middle_layer1.png');
    background-position  : 
                             780px  72px,
                            1436px  72px,
                            2064px  68px,
                            2756px  72px,
                               0px 144px;
    background-origin    : content-box;    
    background-repeat    : no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;    
  }


  #layer5 {

  /*  This is our main layer, the one where everything happens  */    
    -webkit-user-select   : auto;
    -moz-user-select      : auto;
    pointer-events        : auto;
    position              : absolute;
    height                : 300px;
    z-index               : 5;
  }


  .lazystart {
    background-image      : url('../img/hill_front1.png'), url('../img/hill_front1.png'); 
    background-repeat     : no-repeat;
    background-origin     : content-box;
    background-position   : 0px 127px, 768px 127px;   
  }


  .layer5 {
    background-image      : url('../img/hill_front1.png'),
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png');
    background-position   :     0px 127px,   768px 127px,   
                             1536px 127px,  2304px 127px,   
                             3072px 127px,  3840px 127px,   
                             4608px 127px,  5376px 127px,   
                             6144px 127px,  6912px 127px,
                             7680px 127px,  8448px 127px,   
                             9216px 127px,  9984px 127px;
    background-repeat     : no-repeat;
    background-origin     : content-box;
  }


  #layer6 {
    -webkit-user-select : none;
    -moz-user-select    : none;
    position            : absolute;
    top                 : 10px;
    left                : 900px;
    width               : 468px;
    height              : 300px;
    pointer-events      : none;
    z-index             : 1000;
  }



  /**
   *  sprites and scene/gfx elements
   *
   */

  #intro_text {
    color         : #4e4e4e;
    font-family   : Abel, sans-serif;
    font-weight   : 400;
    text-align    : center;
    margin-left   : 40px;
    margin-right  : auto;
    top           : 52px;
    width         : 80%;
  }


  .arrow {
    position      : absolute;
    top           : 96px;
    left          : 388px;
    width         : 64px;
    height        : 42px;
  }


  .arrow.small {
    position      : absolute;
    top           : 16px;
    left          : 400px;
    width         : 48px;
    height        : 31px;
  }


  .recipe {
    pointer-events    : auto;
    font-family       : Abel, Helvetica, sans-serif;
    color             : #333;
    width             : 468px;
    padding-left      : 12px;
    padding-right     : 4px;
    
    font-weight       : 400;
    font-size         : 22px;
    text-align        : left;
    background-color  : #f7eee7;
    z-index           : 12001;
  }


  .close {
    position  : absolute;
    top       : 24px;
    left      : 404px;
    width     : 44px;
    height    : 44px;
  }


  .grey {
    color   : #534741;
    stroke  : #534741;
    fill    : #534741;
  }


  .white {
    color   : #ffffff;
    stroke  : #ffffff;
    fill    : #ffffff;
  }


  .recipe_title {
    position        : absolute;
    color           : #333;
    text-align      : left;
    font-size       : 24px;
    font-weight     : 700;
    width           : auto;
    margin-left     : 12px;
    text-transform  : uppercase;
    top             : 12px;
    left            : 16px;
    border-bottom   : solid 1px #333;   
  }


  .recipe_small {
    margin-top      : 24px;
    margin-right    : 4px;
    padding-right   : 4px;
    margin-left     : 12px;
    width           : 416px;
    color           : #555;
    font-family     : Abel, sans-serif;
    text-align      : left;
    font-size       : 20px;
    font-weight     : 400;
  }


  .sprite {
    position            : absolute;
    background-repeat   : no-repeat;
  }


  .gfx {
    position  : absolute;
  }


  #progress {
    margin            : 0;
    padding           : 0;
    z-index           : 300;
    pointer-events    : none;
  }


  #muni_sign {
    position            : absolute;
    overflow            : hidden;
    left                : 300px;
    top                 : 174px;
    width               : 132px;
    height              : 71px;
  }


  .muni_sign {
    background-image    : url('../img/kommunevapen.png'), url('../img/kommuneskilt.png');
    background-repeat   : no-repeat;
    background-origin   : content-box;
    background-position : 12px 8px, 4px 4px;
  }

  #muni_sign_title {
    position            : absolute;
    color               : white;
    font-family         : Arial, sans-serif;
    font-weight         : 700;
    font-size           : 16px;
    top                 : 6px;
    left                : 48px;
  }

  #farm_sign {
    overflow            : hidden;
    color               : #4c2b0c;
    padding             : 3px;
    font-family         : Abel, Helvetica, Arial, sans-serif;
    font-size           : 14px;
    font-weight         : 700;
    top                 : 184px;
    width               : 213px;
    left                : 828px;
    height              : 72px;
    position            : absolute;
  }


  .farm_sign {
    background          : transparent url('../img/wood_sign_arrow.png') no-repeat;
    background-position : top left;
    background-origin   : content-box;
  }



  #farm_sign_title {
    font-family   : Helvetica, Arial, sans-serif;
    font-weight   : 700;
    color         : #4c2b0c;
    position      : absolute;
    top           : 4px;
    left          : 12px;
  }



  .drive_in_sign {

    color: #000;
    font-family     : "Arial Black", Arial, sans-serif;
    font-weight     : 400;
    font-size       : 12px;
    line-height     : 15px; 
    text-transform  : uppercase;
  
    /*  We use the following to place text within a specific region of the bg image */
    overflow        : hidden;
    position        : absolute;
    left            : -9px;
    top             : 146px;
    width           : 196px;
    height          : 216px;
  }


  #final_sign {
    overflow            : hidden;
    color               : #4c2b0c;
    padding             : 4px;
    margin-left         : 0px;
    font-family         : Abel, Helvetica, Arial, sans-serif;
    font-size           : 24px;
    text-align          : center;
    line-height         : 54px;
    font-weight         : 700;
    top                 : 26px;
    width               : 253px;
    left                : 80px;
    height              : 204px;
    position            : absolute;
  }


  .final_sign {
    background-image    : url('../img/wood_sign_big.png');
    background-position : top left;
    background-origin   : content-box;
    background-repeat   : no-repeat;
    width               : 253px;
    height              : 204px;
  }


  #stop_sign {
    position            : absolute;
    overflow            : hidden;
    top                 : 81px;
    left                : 380px;
    width               : 58px;
    height              : 153px;
  }


  .stop_sign {
    background : transparent url('../img/stop.png') no-repeat;
  }


  #final_sign_title {
    font-family   : Helvetica, Arial, sans-serif;
    font-weight   : 700;
    color         : #4c2b0c;
    position      : absolute;
    top           : 6px;
    left          : -16px;
  }



  #firewood {
    position            : absolute;
    width               : 272px;
    height              : 108px;
    top                 : 132px;
    left                : 0px;
  }


  .firewood {
    background-image    : url('../img/ved.png');
    background-position : top left;
    background-repeat   : no-repeat;
    background-origin   : content-box;
  }



  #farmer {
    position  : absolute;
    top       : 122px;
    left      : 380px;
    width     : 73px;
    height    : 127px;
    z-index   : 102;
  }


  .farmer {
    background-image      : url('../img/farmer_small.png');
    background-origin     : content-box;
    background-position   : 0px 0px;
    width                 : 73px;
    height                : 127px;
  }


  #cases {
    position  : absolute;
    left      : 12px;
    top       : 134px;
  }


 .cases {
    background-image    : url('../img/cases.png');
    background-origin   : content-box;
    background-position : top left;
    width               : 199px;
    height              : 109px;
  }


  #farmer_large {
    /*display: none;    */
  }




  #farmer_tips {
    margin    : 0;
    padding   : 0;
    top       : 0px;
    left      : 96px;
    z-index   : 10000;
    overflow  : visible;
  }

  #farmer_hello {
    overflow  : hidden;
    width     : 218px;
  }

  #lise_hello {
    overflow  : hidden;
    width     : 218px;
  }


  #farmer_recipe {
    
    position  : absolute;
    top       : -300px;
    left      : 0;
    height    : 300px;
    width     : 100%;
    opacity   : 0;
    z-index   : 10000;
  }


  #farmer_text {
    padding : 8px;
    /*top     : 0px;*/
    /*background          : transparent;*/
  }


  #lise_tips {
    top       : 0px;
    left      : 96px;
    height    : 56px;
    /*width     : 229px;*/
    z-index   : 10000;
    overflow  : visible;
  }

  #lise_recipe {
    position  : absolute;
    top       : -300px;
    left      : 0;
    width     : 468px;
    height    : 300px;
    opacity   : 0;
    z-index   : 10000;
  }


  #lise_text {
    /*padding: 16px;*/
    top                 : 0px;
    /*background          : transparent;*/
  }


  #lise {
    position  : absolute;
    top       : 116px;    
    left      : 376px;    
    z-index   : 102;
    width     : 77px;
    height    : 126px;
  }

  .lise {
    position  : absolute;
    width     : 77px;
    height    : 126px;
    z-index   : 102;

    background-image    : url('../img/lise_small.png');
    background-position : top left;
    background-origin   : content-box;
  }




  #drivein_sign {
    color           : #000;
    font-family     : Arial, sans-serif;
    font-weight     : 900;
    font-size       : 14px;
    line-height     : 15px;
    text-transform  : uppercase;
    position        : absolute;
    top             : 32px;
    left            : 200px;
    height          : 176px;
    overflow        : hidden;
  }


  .callout {
    height: auto;
  }



  .btm {
    position      : absolute;
    top           : 0px;
    left          : 188px;
    width         : 27px;
    height        : 33px;
    overflow      : hidden;
    z-index       : 0;
    background    : transparent url('../img/pop_up_btm1.png') no-repeat;
  }

  .btm.klikkbar {
    background    : transparent url('../img/pop_up_btm2.png') no-repeat;
  }



  .clean {
    margin      : 0;
    padding     : 0;
    clear       : left;
  }


  .snakkeboble {
    position      : absolute;
    display       : block;
    color         : #333;
    font-family   : Abel, Futura, Helvetica, sans-serif;
    font-weight   : 400;
    font-size     : 32px;
    padding       : 4px;
    text-align    : center;
    top           : 4px;
    left          : 32px;
    height        : 100px;
    width         : 300px;
  }


  .btn {
    pointer-events      : auto;
    text-decoration     : none;
    text-align          : center;
    font-weight         : 700;
    font-size           : 18px;
    line-height         : 18px;
    color               : #555;
    padding-top         : 4px;
    padding-left        : 8px;
    padding-right       : 8px;
    height              : auto;
    width               : 200px;
    margin-right        : auto;
    margin-left         : auto;
    cursor              : pointer;
    background          : #ece3dd;
    -moz-border-radius  : 4px;
      -o-border-radius  : 4px;
         border-radius  : 4px;
  }


  .btn.larger {
    top             : 0px;
    height          : 80px;
    font-size       : 21px;
    line-height     : 21px;
  }


  .btn.klikkbar {
    color             : #fff;
    background-color  : #3b8f1d;
  }


  .btn_close {
    display   : block;
    position  : absolute;
    left      : 400px;
    top       : 12px;
  }


  .video_container {
    -webkit-user-select : default;
       -moz-user-select : default;
            user-select : default;
    pointer-events      : auto;

    position            : absolute; 
    display             : block; 
    margin              : 0px auto 0px auto; 
    padding             : 0;
    top                 : 15px;
    left                : 24px; 
    width               : 416px;
    height              : 234px;   
    overflow            : hidden;
    background          : transparent; 
    z-index             : 1001;
  }


  .shrunk {
    left                : 84px;
    width               : 265px;
    height              : 148px;   
  }


  .video {

  }


  #video1 {
    position            : absolute;
    z-index             : 1002;
    margin              : 0;
    padding             : 0;
    /*width : */
    
    -webkit-user-select : auto;
       -moz-user-select : auto;
            user-select : auto;
    pointer-events      : auto;

    cursor              : auto;
    pointer-events      : auto;
    -webkit-user-select : auto;
       -moz-user-select : auto;
            user-select : auto;
    z-index             : 1002;
  }


  .road {
    position              : absolute; 
    background-image      : url('../img/road.png');
    background-repeat     : repeat-x;
    background-position   : top left;
    top                   : 244px; 
    height                : 55px;
    width                 : 100%;
    z-index               : 91;
  }


  #layer_player {
    -webkit-user-select  : none;
    -moz-user-select     : none;
    pointer-events       : none;
    position             : absolute;
    height               : 300px;
    z-index              : 100;
  }



  #player {
    position             : absolute;
    background           : transparent;
    background-position  : bottom left;
    background-origin    : content-box;

    z-index              : 101;
  }


  #car {
    -webkit-perspective           : 1000;
    -webkit-backface-visibility   : hidden;   
    position                      : absolute;
    top                           : 164px;
    left                          : 96px;
    background                    : transparent;
    z-index                       : 110;
  }


  #flag {
    position             : absolute;
    width                : 54px;
    height               : 36px;
    left                 : 192px;

    top                  : 12px;
    z-index              : 90;
  }


  #logo {
    position             : absolute;
    width                : 110px;
    height               : 20px;
    top                  : 10px;
    left                 : 128px;
    text-align           : center;
    z-index              : 90;
    cursor               : auto; 
  }


  .clicktarget {
    pointer-events: auto;
  }


  .station {
    z-index     : 100;
  }


  #start {
    position        : absolute;
    top             : 0px;
    left            : 0px;
    width           : 468px;
    height          : 244px;
  }


  #station1 {
    position        : absolute;
    top             : 0px;
    left            : 1600px;
    width           : 468px;
    height          : 244px;
  }


  #station2 {
    position        : absolute;
    top             : 10px;
    left            : 2360px;
    width           : 468px;
    height          : 235px;
  }

  .station2 {
    overflow            : hidden;
    background-image    : url('../img/drive_in_sign.png');
    background-position : left top;
    background-origin   : content-box;
    background-repeat   : no-repeat;  
  }


  #station3 {
    position      : absolute;
    top           : 10px;
    left          : 3072px;
    width         : 468px;
    height        : 300px;
  }


  /* class for lazyloading of bg images */
  .station3 {
    background-image    : url('../img/drive_in_screen.png');
    background-position : center 12px;
    background-origin   : content-box;
    background-repeat   : no-repeat;  
  }


  #station4 {
    position      : absolute;
    top           : 10px;
    left          : 4606px;
    width         : 468px;
    height        : 300px;
  }


  /*  LAZYLOAD

     When we set bg image in a class with the same name as the id, we can load images on demand
     by adding the class "lazyload" to the div. Activate this function by adding class "lazyload" to the div 
     Make sure you do not override any background properties from the class in the # definition
     */



  #station6 {
    position            : absolute;
    top                 : 10px;
    left                : 6180px;
    width               : 468px;
    height              : 300px;
    padding             : 0;
    margin              : 0;
  }


  #station7 {
    position            : absolute;
    top                 : 10px;
    left                : 7650px;
    width               : 468px;
    height              : 300px;
    background          : transparent;
  }



/**
 *  Properties
 *  
 */



  .unselectable {
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
              user-select: none;
  }



  /**
   * Behaviours, animations and transitions
   * 
   */

  .continuous {
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

  .scroll_left {
    -webkit-animation    : slide 0.2s linear infinite;
       -moz-animation    : slide 0.2s linear infinite;
            animation    : slide 0.2s linear infinite;
  }




  /**
   * Animations 
   * 
   */



  @-webkit-keyframes hint {
    0%, 100% {-webkit-transform: translateX(0);}
    50% {-webkit-transform: translateX(10px);}
  }

  @-moz-keyframes hint {
    0%, 100% {-moz-transform: translateX(0);}
    50% {-moz-transform: translateX(10px);}
  }

  @-o-keyframes hint {
    0%, 100% {-o-transform: translateX(0);}
    50% {-o-transform: translateX(10px);}
  }
  @keyframes hint {
    0%, 100% {transform: translateX(0);}
    50% {transform: translateX(10px);}
  }


  .hint {
   -webkit-animation    : hint 0.6s ease-in-out infinite;
       -moz-animation   : hint 0.6s ease-in-out infinite;
         -o-animation   : hint 0.6s ease-in-out infinite;
            animation   : hint 0.6s ease-in-out infinite;
  }



  @-webkit-keyframes arrow {
      50%  {left: 8px;}
      100% {left: 16px;}
  }
  ​
  @-moz-keyframes arrow {
      0%   {left: 0px;}
      50%  {left: 8px;}
      100% {left: 16px;}
  }
''
  @keyframes arrow {
      0%   {left: 0px;}
      50%  {left: 8px;}
      100% {left: 16px;}
  }



  @-webkit-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }
  ​
  @-moz-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  @-o-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  @keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  /* originally authored by Angelo Rohit - https://github.com/angelorohit */


  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateY(-4px);}
    60% {-webkit-transform: translateY(-9px);}
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-4px);}
    60% {-moz-transform: translateY(-9px);}
  }

  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-4px);}
    60% {-o-transform: translateY(-9px);}
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-4px);}
    60% {transform: translateY(-9px);}
  }


  .bounce {
   -webkit-animation    : bounce 0.5s ease-in infinite;
       -moz-animation   : bounce 0.5s ease-in infinite;
         -o-animation   : bounce 0.5s ease-in infinite;
            animation   : bounce 0.5s ease-in infinite;
  }




  .driving.fast {

    -webkit-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
       -moz-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
         -o-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
            transform: skewX(165deg) scaleY(1.2) translateY(-10px);

    -webkit-animation    : slide 0.6s ease-in;
       -moz-animation    : slide 0.6s ease-in;
         -o-animation    : slide 0.6s ease-in;
            animation    : slide 0.6s ease-in;
  }

