/**
 *  Basic setup. 
 *  
 *  We are assuming an iframe, obviously.
 *  Otherwise we would never touch these tags.
 *
 */


  .debugoutput {
    position    : absolute;
    float       : left;
    top         : 504px;
    width       : 800px;
    height      : 1600px;
    background  : #272822;
    color       : #f8f8f2;
    overflow    : auto;
    border      : none;
  }

  .code {
    font-family: monospace;
    font-weight: 700;
    font-size: 12px;
    color: #f8f8f2;
  }


/* monokai, obviously */
  .code.comment  { color: #75715e; }
  .code.keyword  { color: #f92672; }
  .code.default  { color: #f8f8f2; }
  .code.reserved { color: #66D9EF; }
  .code.number   { color: #AE81FF; }
  .code.string   { color: #e6db74; }




  body {
    margin       : 0;
    padding      : 0;
  	background   : rgb(230, 250, 250);
  	color        : #4e4e4e;
  	line-height  : 1.5;
  	font-family  : Abel, Helvetica, Arial, sans-serif;
    font-weight  : 700;
  	font-size    : 14px;
  }


  h1 {
    position     : relative;
    width        : 300px;
    margin       : 20px 0px 20px 50px;
    font-family  : Georgia, serif;
    font-size    : 60px;
    line-height  : 65px;
    font-weight  : 700;
    color        : rgb(33, 169, 126);
  }




  /* The ugly */

  .hwaccel {  
    /* Supposedly this forces activation of HW-acceleration on WebKit, or only iOS */
    -webkit-transform: translateZ(0); 
  }


  @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      /* Retina-specific stuff here */
  }



  /**
   *  Our classes
   *
   */


  .parallax_layer {
    
    /*  Group all the parallax layers with this class */
    -webkit-user-select  : none;
       -moz-user-select  : none;
            user-select  : none;
    pointer-events       : none;
  }


  .para {
    position : relative;
    width    : 280px;
    padding  : 10px;
  }

 
  .container {
    position          : absolute;
    left              : 0px; 
    right             : 0px; 
    margin            : 0px auto 0px auto; 
    padding           : 0px;
    top               : 0px;
    width             : 580px;
    height            : 500px;
    background        : transparent;
    overflow          : hidden;
    cursor            : default;
  }

  .box {
    position          : absolute;
    margin            : 0px auto 0px auto; 
    padding           : 0px;
    top               : 0px;
    overflow          : hidden;
    display           : inline; 
  }


  .panel {
    float            : left;
    margin           : 0px;
    padding          : 0px;
    width            : 12000px;
    background       : transparent;
  }



  /**
   *  Text styles
   *
   */

  .center {
    margin-right: auto;
    margin-left: auto;
  }

  .verybig {
    text-align  : center;
    font-size   : 52px;
    line-height : 60px;
  }

  .big {
    text-align  : center;
    font-size   : 34px;
    line-height : 32px;
  }

  .gray {
    color: #4e4e4e;
  }


  .red {
    color: #d42;
  }


  .blue {
    color: #014289;
  }


  .medium {
    font-size   : 24px;
    line-height : 28px;
  }

  .bold {
    font-weight: 700;
  }

  .regular {
    font-weight: 400;
  }

  .horizontal {
    position  : relative;
    padding   : 0;
    margin    : 0;
    float     : left;
    display   : inline-block;
    overflow  : hidden;
    top       : 320px;
    width     : 665px;
  }


  .mirror {
      -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
         -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
           -o-transform: matrix(-1, 0, 0, 1, 0, 0);
              transform: matrix(-1, 0, 0, 1, 0, 0);
  }



/**
 *  Parallax layers
 *
 */

  #parallax {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
  	position             : absolute;
    height               : 500px;
    width                : 12000px
  	cursor               : move;
    z-index              : 500;
  }

  #layer1 {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
  	position             : absolute;
    height               : 500px;
    background           : transparent url('../img/sky_bg.png') repeat-x;
    pointer-events       : none;
    z-index              : 1;
  }

  #layer2 {
  	-webkit-user-select  : none;
  	-moz-user-select     : none;
    pointer-events       : none;
	
    position             : absolute;
    height               : 500px;
  	background           : transparent url('../img/hill_middle_layer2.png') repeat-x;
    background-position  : 0px 320px;
    background-origin    : content-box;
    z-index              : 2;

  }

  #layer3 {
    -webkit-user-select  : none;
    -moz-user-select     : none;
    pointer-events       : none;
    position             : absolute;
    height               : 500px;
    background           : transparent url('../img/hill_middle_layer1.png') repeat-x;
    background-position  : 0px 330px;
    background-origin    : content-box;
    z-index              : 3;

  }

  #layer4 {
    -webkit-user-select  : none;
    -moz-user-select     : none;
    pointer-events       : none;

    position             : absolute;
    height               : 500px;
 /*   background           : transparent url('../img/hill_front2.png') repeat-x;
    background-position  : 0px 310px;
    background-origin    : content-box;
 */   z-index              : 4;

  }



  #layer5 {
/*  This is our main layer, the one where everything happens
*/    
    -webkit-user-select   : none;
    -moz-user-select      : none;
    pointer-events        : none;
    position              : absolute;
    height                : 500px;
    background            : transparent;

    background-image      : url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png'), 
                            url('../img/hill_front1.png'), url('../img/hill_front2.png');
    background-position   :     0px 310px,   768px 310px,   
                             1536px 310px,  2304px 310px,   
                             3072px 310px,  3840px 310px,   
                             4608px 310px,  5376px 310px,   
                             6144px 310px,  6912px 310px,
                             7680px 310px,  8448px 310px,   
                             9216px 310px,  9984px 310px,   
                            10752px 310px, 11520px 310px,   
                            12288px 310px, 13056px 310px,   
                            13824px 310px, 14592px 310px;
    background-repeat     : no-repeat;
    background-origin     : content-box;
    z-index               : 5;
  }



  #layer6 {

    -webkit-user-select : none;
    -moz-user-select    : none;
    position            : absolute;
    top                 : 10px;
    left                : 900px;
    width               : 580px;
    height              : 500px;
    pointer-events      : none;
    z-index             : 1000;

  }




/**
 *  This is our sprites and scene/gfx elements
 *
 */

/*  #intro_text {
    text-align    : center;
    margin-left   : auto;
    margin-right  : auto;
    width         : 80%;
  }
*/

  #arrow {

  }


  .recipe {
    background-color: #fefefb;
  }


  .sprite {
    position: absolute;
  }

  .gfx {
    position: absolute;
  }


  #progress {
    margin: 0;
    padding: 0;
    z-index: 3000;
    pointer-events : none;
  }



  .muni_sign {

    position            : absolute;
    overflow            : visible;
    padding-left        : 32px;
    padding-top         : 8px;

    left                : 300px;
    top                 : 300px;
    width               : 87px;
    height              : 46px;

    color               : white;
    font-family         : Arial, sans-serif;
    font-weight         : 700;
    font-size           : 11px;

    background          : transparent url('../img/kommuneskilt.png');
    background-repeat   : no-repeat;
    background-origin   : content-box;
    background-position : top left;
  }



  #barn {
    position  : absolute;
    top       : 200px;
    left      : 20px;

  }

  #farmer {
    position: absolute;
    top: 302px;

    z-index: 102;
  }

  #tractor {
    position  : absolute;
    top       :  212px;
  }

  #farmer_large {
    /*display: none;    */
  }

  #lise_large {
    /*display: none;    */
  }

  #lise {
    position  : absolute;
    top       : 302px;    
    z-index   : 102;
  }

  #drivein_sign {
    color           : #000;
    font-family     : Arial, sans-serif;
    font-weight     : 900;
    font-size       : 13px;
    line-height     : 18px;
    text-transform  : uppercase;
    position: absolute;
    top: 384px;
    left: 0px;
  }

  #drivein_screen {
    position: absolute;
    top: 114px;
    left: 0px;
    z-index: 99;
  }


  .wood_sign {
    overflow            : visible;
    color               : #4c2b0c;
    padding             : 4px;
    font-family         : Abel, Helvetica, Arial, sans-serif;
    font-size           : 12px;
    font-weight         : 700;
    background          : transparent url('../img/wood_sign_arrow.png') no-repeat;
    background-position : top left;
    width               : 213px;
    height              : 94px;
    /*background-origin   : content-box;*/
    position            : absolute;
  }


  .callout {
    height: auto;
  }

  .btm {
    position      : absolute;
    background    : transparent url('../img/pop_up_btm.png') no-repeat;
    width         : 410px;
    height        : 68px;
    overflow      : hidden;
  }


  .clean {
    margin : 0;
    padding: 0;
    clear: left;
  }


  .snakkeboble {
    position      : absolute;
    display       : block;
    color         : #333;
    font-family   : Abel, Futura, Helvetica, sans-serif;
    font-weight   : 400;
    font-size     : 18px;
    margin-top    : 111px;
    margin-bottom : 68px;
    padding       : 4px;
    text-align    : center;
    width         : 400px;
    border-style  : solid solid none solid;
    border-width  : 1px;
    border-color  : #928c85;
    background    : #eee;


    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-transition: all 0.6s ease-in-out;
       -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;

    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;
  }


  .btn {
    webkit-user-select  : none;
    moz-user-select     : none;
    pointer-events      : visible;
    text-align          : center;
    font-weight         : 700;
    font-size           : 22px;
    color               : white;
    padding             : 8px;
    width               : 96px;
    margin-right        : auto;
    margin-left         : auto;
    cursor              : pointer;
    background          : #004288;
    -moz-border-radius  : 4px;
      -o-border-radius  : 4px;
         border-radius  : 4px;
  }


  .snakkeboble.flip.front{
              z-index: 9000;
    -webkit-transform: rotateY(180deg) scale(2.0);
       -moz-transform: rotateY(180deg) scale(2.0);
        -ms-transform: rotateY(180deg) scale(2.0);
         -o-transform: rotateY(180deg) scale(2.0);
            transform: rotateY(180deg) scale(2.0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
  }


   .snakkeboble.back {
      float: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5001;
      width: inherit;
      height: inherit;
      
    -webkit-transform: rotateY(-180deg) scaleX(2.0) scaleY(2.0);
       -moz-transform: rotateY(-180deg) scaleX(2.0) scaleY(2.0);
        -ms-transform: rotateY(-180deg) scaleX(2.0) scaleY(2.0);
         -o-transform: rotateY(-180deg) scaleX(2.0) scaleY(2.0);
            transform: rotateY(-180deg) scaleX(2.0) scaleY(2.0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
    }

    
    .snakkeboble.flip.back {
      z-index: 1000;


      -webkit-transform: rotateX(0deg) rotateY(0deg);
         -moz-transform: rotateX(0deg) rotateY(0deg);
          -ms-transform: rotateX(0deg) rotateY(0deg);
           -o-transform: rotateX(0deg) rotateY(0deg);
              transform: rotateX(0deg) rotateY(0deg);

    }




  #video1_container {
    -webkit-user-select : none;
       -moz-user-select : none;
            user-select : none;
    pointer-events      : none;
    position            : relative; 
    display             : block; 
    margin              : 0px auto 0px auto; 
    padding             : 0px;
    top                 : 0px;
    left                : 2000px; 
    overflow            : hidden;
    background          : transparent; 
    z-index             : 1001;
  }


  #video1 {
    z-index           : 1002;
    width             : 416px;
    height            : 234px;   
    cursor            : default;
    pointer-events    : default;
  }






  #road {
    position             : absolute; 
    background           : transparent url('../img/road.png') repeat-x;
    background-position  : 0px 0px;
    top                  : 428px; 
    height               : 72px;
    width                : 100%;
    z-index              : 91;
  }



  #layer_player {
    -webkit-user-select  : none;
    -moz-user-select     : none;
    pointer-events       : none;
    position             : absolute;
    height               : 500px;
    z-index              : 100;
  }



  #player {
    position             : absolute;
    background           : transparent;
    background-position  : bottom left;
    background-origin    : content-box;
    z-index              : 101;
  }


  #car {
    position             : absolute;
    top                  : 364px;
    left                 : 150px;
    background           : transparent;
    z-index              : 110;
  }


  #logo {
    position             : absolute;
    width                : 85px;
    height               : 30px;
    left                 : 448px;
    top                  : 0;
    z-index              : 90;
    margin               : 16px;
    cursor               : auto; 
  }


  .station {
    color       : black;
    font-size   : 72px;
    font-weight : bold;
    z-index     : 100;
  }


  #intro {
    position        : absolute;
    top             : 0px;
    left            : 0px;
    width           : 580px;
    height          : 428px;
    background      : transparent; 
  }


  #station1 {
    position        : absolute;
    top             : 10px;
    left            : 2000px;
    width           : 580px;
    height          : 428px;
    background      : transparent; 
  }

  #station2 {
    position        : absolute;
    top             : 10px;
    left            : 4000px;
    width           : 580px;
    height          : 500px;
    background      : transparent; 
  }


  #station3 {
    position      : absolute;
    top           : 10px;
    left          : 6000px;
    width         : 580px;
    height        : 500px;
    background    : transparent; 
  }


  #station4 {
    position      : absolute;
    top           : 10px;
    left          : 8000px;
    width         : 580px;
    height        : 500px;
    background    : transparent; 
  }

  #station5 {
    position      : absolute;
    top           : 10px;
    left          : 10000px;
    width         : 580px;
    height        : 500px;
    background    : transparent; 
  }


/**
 *  Properties
 *  
 */



  .unselectable {
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
              user-select: none;
  }



  /**
   * Behaviours, animations and transitions
   * 
   */

  .continuous {
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

  .scroll_left {
    -webkit-animation    : slide 0.2s linear infinite;
       -moz-animation    : slide 0.2s linear infinite;
            animation    : slide 0.2s linear infinite;
  }



  /**
   * Animations 
   * 
   */

  @-webkit-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }
  ​
  @-moz-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  @-o-keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  @keyframes slide {
      0%   {background-position: 0 0;}
      100% {background-position: -24px 0;}
  }

  /* originally authored by Angelo Rohit - https://github.com/angelorohit */

  @-webkit-keyframes woggle {
      0% { -webkit-transform: skewX(0.9deg); }
      10% { -webkit-transform: skewX(-0.8deg); }
      20% { -webkit-transform: skewX(-0.3deg); }
      30% { -webkit-transform: skewX(-0.6deg); }
      40% { -webkit-transform: skewX(-0.5deg); }
      50% { -webkit-transform: skewX(-0.4deg); }
      60% { -webkit-transform: skewX(-0.7deg); }
      70% { -webkit-transform: skewX(-0.2deg); }
      80% { -webkit-transform: skewX(0.1deg); }
      90% { -webkit-transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); }
  }

  @-moz-keyframes woggle {
      0% { -moz-transform: skewX(0.9deg); }
      10% { -moz-transform: skewX(-0.8deg); }
      20% { -moz-transform: skewX(-0.3deg); }
      30% { -moz-transform: skewX(-0.6deg); }
      40% { -moz-transform: skewX(-0.5deg); }
      50% { -moz-transform: skewX(-0.4deg); }
      60% { -moz-transform: skewX(-0.7deg); }
      70% { -moz-transform: skewX(-0.2deg); }
      80% { -moz-transform: skewX(0.1deg); }
      90% { -moz-transform: skewX(0deg); }
    100% { -moz-transform: skewX(0deg); }
  }

  @-o-keyframes woggle {
      0% { -o-transform: skewX(0.9deg); }
      10% { -o-transform: skewX(-0.8deg); }
      20% { -o-transform: skewX(-0.3deg); }
      30% { -o-transform: skewX(-0.6deg); }
      40% { -o-transform: skewX(-0.5deg); }
      50% { -o-transform: skewX(-0.4deg); }
      60% { -o-transform: skewX(-0.7deg); }
      70% { -o-transform: skewX(-0.2deg); }
      80% { -o-transform: skewX(0.1deg); }
      90% { -o-transform: skewX(0deg); }
    100% { -o-transform: skewX(0deg); }
  }

  @keyframes woggle {
      0% { transform: skewX(0.9deg); }
      10% { transform: skewX(-0.8deg); }
      20% { transform: skewX(-0.3deg); }
      30% { transform: skewX(-0.6deg); }
      40% { transform: skewX(-0.5deg); }
      50% { transform: skewX(-0.4deg); }
      60% { transform: skewX(-0.7deg); }
      70% { transform: skewX(-0.2deg); }
      80% { transform: skewX(0.1deg); }
      90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
  }

  .woggle {
      -webkit-animation-name: woggle;
      -moz-animation-name: woggle;
      -o-animation-name: woggle;
      animation-name: woggle;

      -webkit-animation-timing-function: ease-in;
      -moz-animation-timing-function: ease-in;
      -o-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }

  .animated.woggle {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      -o-animation-duration: 0.5s;
      animation-duration: 0.5s;
  }


  @-webkit-keyframes wibble {
      0% { -webkit-transform: translateY(1px); }
      10% { -webkit-transform: translateY(-2px); }
      20% { -webkit-transform: translateY(1px); }
      30% { -webkit-transform: translateY(-2px); }
      40% { -webkit-transform: translateY(-5px); }
      50% { -webkit-transform: translateY(-2px); }
      60% { -webkit-transform: translateY(1px); }
      70% { -webkit-transform: translateY(-2px); }
      80% { -webkit-transform: translateY(1px); }
      90% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(0px); }
  }

  @-moz-keyframes wibble {
      0% { -moz-transform: translateY(1px); }
      10% { -moz-transform: translateY(-2px); }
      20% { -moz-transform: translateY(1px); }
      30% { -moz-transform: translateY(-2px); }
      40% { -moz-transform: translateY(-5px); }
      50% { -moz-transform: translateY(-2px); }
      60% { -moz-transform: translateY(1px); }
      70% { -moz-transform: translateY(-2px); }
      80% { -moz-transform: translateY(1px); }
      90% { -moz-transform: translateY(0px); }
    100% { -moz-transform: translateY(0px); }
  }

  @-o-keyframes wibble {
      0% { -o-transform: translateY(1px); }
      10% { -o-transform: translateY(-2px); }
      20% { -o-transform: translateY(1px); }
      30% { -o-transform: translateY(-2px); }
      40% { -o-transform: translateY(-5px); }
      50% { -o-transform: translateY(-2px); }
      60% { -o-transform: translateY(1px); }
      70% { -o-transform: translateY(-2px); }
      80% { -o-transform: translateY(1px); }
      90% { -o-transform: translateY(0px); }
    100% { -o-transform: translateY(0px); }
  }

  @keyframes wibble {
      0% { transform: translateY(1px); }
      10% { transform: translateY(-2px); }
      20% { transform: translateY(1px); }
      30% { transform: translateY(-2px); }
      40% { transform: translateY(-5px); }
      50% { transform: translateY(-2px); }
      60% { transform: translateY(1px); }
      70% { transform: translateY(-2px); }
      80% { transform: translateY(1px); }
      90% { transform: translateY(0px); }
    100% { transform: translateY(0px); }
  }

  .wibble {
      -webkit-animation-name: wibble;
      -moz-animation-name: wibble;
      -o-animation-name: wibble;
      animation-name: wibble;

      -webkit-animation-timing-function: ease-in;
      -moz-animation-timing-function: ease-in;
      -o-animation-timing-function: ease-in;
      animation-timing-function: ease-in;

  }

  .animated.wibble {
      -webkit-animation-duration: 0.3s;
         -moz-animation-duration: 0.3s;
           -o-animation-duration: 0.3s;
              animation-duration: 0.3s;

  }



  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(-20px);}
    60% {-webkit-transform: translateX(-11px);}
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
    40% {-moz-transform: translateX(-20px);}
    60% {-moz-transform: translateX(-11px);}
  }

  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
    40% {-o-transform: translateX(-20px);}
    60% {-o-transform: translateX(-11px);}
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-20px);}
    60% {transform: translateX(-11px);}
  }

  .bounce {
    -webkit-animation-name: bounce;
       -moz-animation-name: bounce;
         -o-animation-name: bounce;
            animation-name: bounce;
  }



  .driving.fast {

    -webkit-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
       -moz-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
         -o-transform: skewX(165deg) scaleY(1.2) translateY(-10px);
            transform: skewX(165deg) scaleY(1.2) translateY(-10px);

    -webkit-animation    : slide 0.4s ease-in;
       -moz-animation    : slide 0.4s ease-in;
         -o-animation    : slide 0.4s ease-in;
            animation    : slide 0.4s ease-in;
  }
